    html,
    body {
        background-image: url("../images/19151.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        box-sizing: border-box;
        min-height: 100vh;
    }
    
    .full-height {
        height: 100vh;
    }
    
    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .position-ref {
        position: relative;
    }
    
    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }
    
    .content {
        text-align: center;
    }
    
    .title {
        font-size: 84px;
    }
    
    .links>a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .m-b-md {
        margin-bottom: 30px;
    }
    /*My styles*/
    
    .center {
        /* border: 1px solid black; */
        padding-top: 100px;
        font-size: 20px;
    }
    
    input.largeCheck {
        width: 20px;
        height: 20px;
    }
    
    .cursorPointer {
        cursor: pointer;
    }
    /* footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
} */
    /*Template styles*/
    
    label,
    li {
        margin: 0 5px;
        font-weight: bold;
        text-align: right;
        color: #3d403a;
    }
    
    ul {
        list-style: none;
    }
    
    label.lbFrame {
        background-color: #8697a6;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: 0 5px;
        min-width: 140px;
        text-align: left;
    }
    
    select {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        min-width: 120px;
        max-width: 150px;
    }
    
    .boton {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .1rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin: 0 .5rem;
    }
    
    .btn-red {
        color: #fff;
        background-color: #e83e3e;
        border-color: #e83e3e;
    }
    
    .btn-green {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    
    .btn-yell {
        color: #fff;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    
    .btn-blue {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    
    .top-menu {
        display: inline-block;
    }
    
    .top-menu .controls-mov {
        display: inline-block;
    }
    
    .top-menu .controls-mov .boton {
        margin: 0 1px;
    }
    
    #principal .frmPrincipal {
        display: inline-table;
        width: 80%;
    }
    
    #principal aside {
        display: inline-table;
    }
    
    #principal .frameImage {
        display: inline-block;
        width: 180px;
        height: 180px;
        background-color: lightgray;
    }
    
    #principal #inDescripc {
        width: 400px;
        margin: 0 auto;
    }
    
    #principal #inMin,
    #principal #inMax {
        min-width: 50px !important;
    }
    
    .renglon {
        margin: 8px 0;
    }
    
    .input-control {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .not-active {
        background: #dddddd;
        opacity: 0.65;
        cursor: not-allowed;
        pointer-events: none;
    }
    
    .not-active:hover {
        cursor: not-allowed;
    }
    /*Loader*/
    
    .Loader {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../images/bx_loader.gif') no-repeat center center, rgba(212, 203, 245, .4);
    }